button{
    padding:8px 16px;
    border:none;
    background-color:#0095f6;
    color:white;
    border-radius:4px;
    font-weight:600;
    cursor:pointer;
}
button:hover{
    background-color:whitesmoke;
    color:#0095f6;
}