body{
    background-color: #242424;
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Inter', sans-serif;
}
.logo{
    align-items:center;
    justify-content:space-between;
    display:flex;
    padding-right: 40px;
    /* background-color: red; */
    flex-direction:row;
}
.nav{
    position: fixed;
    display: flex;
    padding-top:50px;
    right:0px;
    flex-direction: column;
    gap: 100px;
    width: 80px;
}
.nav li{
   text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: column,
}
nav a{
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}
.prof{
    cursor: pointer;
    /* background-color: blanchedalmond; */
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}