.con{
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    padding-top: 100px;
}
img{
    width: 1000px;
    height: 700px;
    border-radius: 10px;
    border: 2px solid black;
    object-fit: cover;
    margin-bottom: 10px;
}

.posts-card p{
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    text-align: center;
}